extends layout

block content
  br
  br
  h1 Area of Applicability - Ergebnisseite
  p Auf der Ergebnisseite werden die Ergebnisse angezeigt, welche auf der Anwendungsseite berechnet wurden. Ihnen ist es hier möglich, sich die Dateien einzeln anzeigen zu lassen und/oder diese zu downloaden.
        .row.justify-content-md-left
          .col-xs-12.col-sm-6.col-lg-8
                #ergebnismap
          .col-xs-6.col-lg-4
            h4
              button.buttonFragezeichen(onclick="document.getElementById('id11').style.display='block'; modal = document.getElementById('id11')" title='Hilfe') ?     
            .card.text-dark.p-4.border-success.cardprediction
                h2 Ergebnisse und Download
                br
                h4 Herunterladen aller Daten als .zip: 
                  a.i.fa.fa-download.btn.btndownload.btn-success(role='button', href='http://localhost:3000/uploads/', download='alldata.zip' style='float: right;')
                  br
                  h4 Prediction
                  #puff5.spinner-border.float-end(role='status' style= 'display:block')
                  button#buttonAnzeig.btn.btn-success(style= 'display:none;' onclick='loadprediction()') Anzeigen der Prediction
                  img(src= ueblink, alt='', width='100%', height="100%")
                  br
                  p Download der Prediction als GeoTIFF:  
                    a.i.fa.fa-download.btn.btndownload.btn-success(role='button', href='http://localhost:3000/R/data/prediction.tif', download='prediction.tif' style='float: right;')
                    br
                    h4 AOA
                    
                    button#buttonAnzeig.btn.btn-success(onclick='loadaoa()') Anzeigen der AOA
                    p Download der AOA:  
                      a.i.fa.fa-download.btn.btndownload.btn-success(role='button', href='http://localhost:3000/R/data/aoa.tif', download='aoa.tif' style='float: right;')
                    br
                    h4 Trainingsgebiete
                    h5 Ihre eigenen Trainingsdaten:  
                    p Download GeoPackage als .geopackage:  
                      a.i.fa.fa-download.btn.btndownload.btn-success(role='button', href='http://localhost:3000/uploads/usertrainingspolygonegpkg.gpkg', download='usertrainingspolygone.gpkg' style='float: right;')
                    p Download Shapefile als .zip:  
                      a.i.fa.fa-download.btn.btndownload.btn-success(role='button', href='http://localhost:3000/uploads/usertrainingsdatashp.zip', download='usertrainingsdatashp.zip' style='float: right;')
                    p Download GeoJSON als .geojson:  
                      a.i.fa.fa-download.btn.btndownload.btn-success(role='button', href='http://localhost:3000/uploads/usertrainingspolygonegjson.geojson', download='usertrainingsdatagjson.geojson' style='float: right;')
                    p Download selbstgezeichneter Polygone als .geojson:  
                      a.i.fa.fa-download.btn.btndownload.btn-success(onclick='exportGeoJSON()' style='float: right;')
                    br                 
                    h4 Gebiete zum Nachtrainieren
                        
                    br         
                    h4 Sentinel 2 Bild
                    p Download des ursprünglichen Satellitenbildes:  
                      a.i.fa.fa-download.btn.btndownload.btn-success(role='button', href='http://localhost:3000/uploads/usersentineldata.tif', download='usersentineldata.tif' style='float: right;')
                    br
                    form(method='post', action='/mergegeojson' style='margin:auto;')
                      button.btn.btn-success() Zurück zur Anwendungsseite
                    p(style="font-size: small") Mit Klicken auf diesen Button gelangen Sie zur Anwendungsseite zurück und die gezeichneten Polygone werden mit den hochgeladenen Polygonen verbunden um diese erneut zu verwenden.


  #id11.w3-modal
    .w3-modal-content.w3-card-4.w3-animate-top
      header.w3-container.w3-teal.w3-display-container
        span.w3-button.w3-teal.w3-display-topright(onclick="document.getElementById('id11').style.display='none'")
          i.fa.fa-remove
      .w3-container
         h3 Ergebnisse und Download
         p Auf dieser werden die Ergebnisse angezeigt, welche auf der Anwendungsseite berechnet wurden. Ihnen ist es hier möglich, sich die Dateien einzeln anzeigen zu lassen und/oder diese zu downloaden. Bitte nutzen Sie auch hier die Layerkontrollfunktion der Karte um die von ihnen gewünschte visuelle Darstellung anzuzeigen.

  script(src="/javascripts/shp.js")
  script(src='/javascripts/leaflet.shpfile.js')
  script(src="/javascripts/results.js")
  script(src="/javascripts/application.js")
  

  script.
    // Script for side navigation
    function w3_open() {
    var x = document.getElementById("mySidebar");
    x.style.width = "300px";
    x.style.paddingTop = "10%";
    x.style.display = "block";
    }
    // Close side navigation
    function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    }
    // Used to toggle the menu on smaller screens when clicking on the menu button
    function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    } else {
    x.className = x.className.replace(" w3-show", "");
    }
    }
