extends layout

block content
  br
  br
  h1 Referenzen
  h4 Hier finden Sie unsere Quellen und Referenzen
  br
 
  p Template für die Homepage: W3Schools - https://www.w3schools.com/w3css/w3css_templates.asp
 
  p Sattelitenbilder Startseíte: EarthExplorer - https://earthexplorer.usgs.gov/
  
  p Bilder Team - privat
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br