extends layout

block content
  br
  br
  h1 AtzenGIS - Ergebnisseite
  p Auf der Ergebnisseite werden die Ergebnisse wie Prediction, AOA und Sampling Locations angezeigt, welche auf der Anwendungsseite berechnet wurden. Ihnen ist es hier möglich, sich die Dateien einzeln anzeigen zu lassen und/oder diese zu downloaden.
        .row.justify-content-md-left
          .col-xs-12.col-sm-6.col-lg-8
                #ergebnismap
          .col-xs-6.col-lg-4
            h4
              button.buttonFragezeichen(onclick="document.getElementById('id11').style.display='block'; modal = document.getElementById('id11')" title='Hilfe') ?     
            .card.text-dark.p-4.border-success.cardprediction
                h2 Ergebnisse und Download
                  br
                  h4 Prediction
                  #puff5.spinner-border.float-end(role='status' style= 'display:block')
                  button#buttonAnzeig.btn.btn-success(style= 'display:none;' onclick='loadprediction()') Anzeigen der Prediction
                  img(src= ueblink, alt='', width='100%', height="100%")
                  br
                  p Herunterladen der Prediction als GeoTIFF: 
                    a.i.fa.fa-download.btn.btndownload.btn-success(role='button', href='http://localhost:3000/prediction.tif', download='prediction.tif' style='float: right;')
                    br
                    h4 AOA
                    button#buttonAnzeig.btn.btn-success(onclick='loadaoa()') Anzeigen der AOA
                    br
                    p Gelb(1) befindet sich innerhalb der AOA 
                    p Lila(0) befindet sich außerhalb der AOA
                    br
                    p Herunterladen der AOA:  
                      a.i.fa.fa-download.btn.btndownload.btn-success(role='button', href='http://localhost:3000/aoa.tif', download='aoa.tif' style='float: right;')
                    br
                    h4 Trainingsgebiete
                    h5 Ihre eigenen Trainingsdaten:  
                    p Herunterladen des hochgeladenes GeoPackage als .geopackage:  
                      a.i.fa.fa-download.btn.btndownload.btn-success(role='button', href='http://localhost:3000/usertrainingspolygonegpkg.gpkg', download='uploadedtrainingspolygone.gpkg' style='float: right;')
                    p Herunterladen des hochgeladenes GeoPackage als .geojson:  
                      a.i.fa.fa-download.btn.btndownload.btn-success(role='button', href='http://localhost:3000/usertrainingspolygonegpkg.geojson', download='uploadedtrainingspolygone.geojson' style='float: right;')
                    p Herunterladen des hochgeladenes Shapefile als .zip:  
                      a.i.fa.fa-download.btn.btndownload.btn-success(role='button', href='http://localhost:3000/usertrainingsdatashp.zip', download='uploadedtrainingsdatashp.zip' style='float: right;')
                    p Herunterladen des hochgeladenes GeoJSON als .geojson:  
                      a.i.fa.fa-download.btn.btndownload.btn-success(role='button', href='http://localhost:3000/usertrainingspolygonegjson.geojson', download='uploadedtrainingsdatagjson.geojson' style='float: right;')
                    p 
                    br                 
                    h4 Gebiete zum Nachtrainieren
                      button.buttonFragezeichen(onclick="document.getElementById('id12').style.display='block'; modal = document.getElementById('id12')" title='Hilfe') ?
                    p Benutzen Sie zum Ein- und Ausblenden bitte die Layer Kontrollfunktion auf der Karte oben rechts!
                    p Herunterladen der selbstgezeichneten Polygone als .geojson: 
                      
                      a.i.fa.fa-download.btn.btndownload.btn-success(onclick='exportGeoJSON()' style='float: right;')
                      br
                      br
                      br
                      button.btn.btn-success#add-polygon-btn(style= "display:block; margin:0 auto;") Überprüfen der gezeichneten Polygone:
                      form(method='post', action='/anwendungsseite/mergegeojson' style='margin:auto;')
                        textarea#polygons(name="polygons" style="width:80%; height:200px; display:block; margin:0 auto;") 
                        br
                        button.btn.btn-success(style="display:block; margin:auto;") Mit hochgeladenem GeoJSON zu einer FeatureCollection zusammenführen 
                        p(style="font-size: small; text-align: center;") Datei wird auf Knopfdruck heruntergeladen 
                    p Herunterladen der Gebiete wo nachtrainiert werden sollte als .shapefile:  
                      a.i.fa.fa-download.btn.btndownload.btn-success(role='button', href='http://localhost:3000/samples.shp', download='samplinglocations.shp' style='float: right;')
                    h4 Sentinel 2 Bild
                    p Herunterladen des ursprünglichen Satellitenbildes:  
                      a.i.fa.fa-download.btn.btndownload.btn-success(role='button', href='http://localhost:3000/usersentineldata.tif', download='uploadedsentineldata.tif' style='float: right;')
                    br
                    p Herunterladen des trainierten models:  
                      a.i.fa.fa-download.btn.btndownload.btn-success(role='button', href='http://localhost:3000/usertrainedmodel.rds', download='uploadedtrainedmodel.rds' style='float: right;')
                    br
                    form(method='post', action='/zurueck' style='margin:auto;')
                      button.btn.btn-success() Zurück zu Anwendungsseite!
                      p(style="font-size: small") Mit Klicken auf diesen Button gelangen Sie zur Anwendungsseite zurück und die gezeichneten Polygone werden auf der Karte angezeigt (Merged). Sie müssen die zusammengefügte Datei allerdings trotzdem erneut hochladen um sie für eine erneute Ausführung zu benutzen!


  #id11.w3-modal
    .w3-modal-content.w3-card-4.w3-animate-top
      header.w3-container.w3-teal.w3-display-container
        span.w3-button.w3-teal.w3-display-topright(onclick="document.getElementById('id11').style.display='none'")
          i.fa.fa-remove
      .w3-container
         h3 Ergebnisse und Download
         p Auf dieser werden die Ergebnisse angezeigt, welche auf der Anwendungsseite berechnet wurden. Ihnen ist es hier möglich, sich die Dateien einzeln anzeigen zu lassen und/oder diese zu downloaden. Bitte nutzen Sie auch hier die Layerkontrollfunktion der Karte um die von ihnen gewünschte visuelle Darstellung anzuzeigen.
  
  #id12.w3-modal
    .w3-modal-content.w3-card-4.w3-animate-top
      header.w3-container.w3-teal.w3-display-container
        span.w3-button.w3-teal.w3-display-topright(onclick="document.getElementById('id12').style.display='none'")
          i.fa.fa-remove
      .w3-container
         h3 Digitalisierungshilfe: 
         p Benutzen Sie zum digialisieren und Labeln neuer Trainingspolygone die Zeichnen Funktion oben links auf der Karte! Orientieren Sie sich am besten an den "Sampling Locations" welche sie ebenfalls mit der Layerkontroll Funktion oben rechts ein- und ausblenden können! 
         table
          thead
            tr
              th Label
              th ClassID
          tbody
            tr
              td Acker
              td 9
            tr
              td Acker_bepflanzt
              td 10
            tr
              td Bahnschiene
              td 18
            tr
              td Baumgruppe
              td 7
            tr
              td Binnengewaesser
              td 5
            tr
              td Industrie
              td 11
            tr
              td Innenstadt
              td 13
            tr
              td Kunstrasen
              td 16
            tr
              td Laubwald
              td 1
            tr
              td Mischwald
              td 3
            tr
              td Parklandschaft
              td 24
            tr
              td Siedlung
              td 12
            tr
              td Strand
              td 14
            tr
              td Versiegelt
              td 8
            tr
              td Wiese
              td 6



  script(src="/javascripts/shp.js")
  script(src='/javascripts/leaflet.shpfile.js')
  script(src="/javascripts/results.js")
  script(src="/javascripts/application.js")
  

  script.
    // Script for side navigation
    function w3_open() {
    var x = document.getElementById("mySidebar");
    x.style.width = "300px";
    x.style.paddingTop = "10%";
    x.style.display = "block";
    }
    // Close side navigation
    function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    }
    // Used to toggle the menu on smaller screens when clicking on the menu button
    function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    } else {
    x.className = x.className.replace(" w3-show", "");
    }
    }
