extends layout

block content
    br
    br
    h1 Ihr Upload war erfolgreich!
    h2 Bitte klicken Sie den Button "Zur체ck zur Anwendung" um fortzufahren. 
    h2 Sie werden nun auf die Anwendungsseite zur체ckgeleitet 
    h2 WICHTIG: W채hlen Sie bei der Modellfrage die gleiche Antwort wie beim ersten mal und fahren Sie mit den Uploads fort. Ihre bisherigen Uploads sind bereits im Hintergrund hochgeladen 
    
    form(method='post', action='/anwendungsseite')
        button.btn.btn-success() Zur체ck zur Anwendung! 
