#anwendungsmap {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
}

#ergebnismap {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
}

#navbar {
    background-color:#990000;
    position:fixed;  
    z-index:1; /*Add this*/
    width:100%;
    height:50px;
    text-align:center;
    vertical-align:middle;
    line-height:50px;
    top:0px;
  }

p {
    margin-left: 1%;
    font-size: large;
}

b {
    margin-left: 1%;
    font-size: large;
}


h1 {
    margin-left: 1%;
}

h2 {
    margin-left: 1%;
}

h3 {
    margin-left: 1%;
}

h4 {
    margin-left: 1%;
}

h5 {
    margin-left: 1%;
}

.buttonFragezeichen {
    color: rgb(255, 255, 255);
    border: 2px solid #198754;
    float: right;
    border-radius: 70%;
    background-color: #198754;
    font-size: medium;
}